<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
	<header class="mdl-layout__header">
		<div class="mdl-layout__header-row">
			<span class="mdl-layout-title">Fsvieira</span>
			<div class="mdl-layout-spacer"></div>
			<button 
				id="main-menu"
				class="mdl-button mdl-js-button mdl-button--icon"
			>
				<i class="material-icons">more_vert</i>
			</button>
          
			<ul 
				class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
				for="main-menu"
			>
				<li class="mdl-menu__item"><a href='#/user-manual'>User Manual</a></li>
			</ul>
        </div>
	</header>
	
    <div class="mdl-layout__drawer">
		<span class="mdl-layout-title">Fsvieira</span>
    </div>

    <main class="mdl-layout__content"></main>
</div>
